body::before {
    display: block;
    content: "";
    height: 55px;
}
#about, #tech, #projects {
    min-height: 50vh;
}
#tech i {
    font-size: 2em;
}

.navbar-light {
    font-size: 1.2em;
    font-weight: 500;
    transition: font-size .5s;
}

.navbar-dark {
    font-size: 1.1em;
    font-weight: normal;
    transition: font-size .5s;
}



